.sidebarContainer{
    background: var(--white);
    height: 100vh;
    display: grid;
    width: 100px;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 25px 0px;
    justify-content: center;
}

.sidebarContainer > img{
    height: 65px;
}

.menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu > button{
    background: none;
    border:none;
    width: 100%;

    padding:10px 0px;

    font-size: 1.5rem;
    color:var(--gray-line);

    outline: none;
}

.menuActive{
    color:var(--blue) !important;
}

.logout{
    align-self: flex-end;
}

.logout > button{
    background: none;
    border:none;
    padding: 20px;

    font-size: 1.5rem;
    color:var(--gray-line);
}
