.loginContainer{
    background:var(--blue);
    height: 100vh;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 8rem;

    align-items: center;
}

.loginArea{
    display: flex;
    flex-direction: column;
    align-items: flex-start;    

    color:var(--white);
}

.loginArea h2{
    font-size: 2rem;
}

.loginArea > img{
    height: 3.5rem;
    margin-bottom:4rem;
}

.loginArea > div:first-of-type{
    display: flex;
    flex-direction:row;
    align-items: center;
    margin:1.5rem 0 2rem;

    opacity: 0.5;
}

.buttonLogin{
    display: flex;
    flex-direction:row;
    align-items: center;

    cursor: pointer;
}

.buttonLogin > div{
    padding:1.5rem 1.5rem;
    border-radius: 5px;
    border:none;
    background:linear-gradient(90deg,var(--blue-dark),var(--blue));

    width: 275px;

    text-align: left;
    font-size: 0.9rem;
    color:var(--white);
    font-weight: 400;
}

.buttonLogin > button{
    background: var(--blue-dark);
    outline: none;
    border: none;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 2rem;
    color: var(--white);

    height: 4rem;
    width: 4rem;

    border-radius: 0 5px 5px 0;
}

.buttonLogin >button:hover{
    background:var(--green)
}


.loginArea > div img{
    height: 2rem;
    margin-right: 1rem;
}

